body {
	background-color: black;
	margin: 0 auto;
	padding: 0;
}

.flex-container{
    display: flex;
}

section.flex-container{
	flex-direction: row;
	justify-content: center;
}

.elemento {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0;
}

